<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            background-color: #476AF9;
        }

        .container {
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
    <title>Add Student</title>
</head>

<body>

    <!-- import navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Add Student</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link active" th:href="@{/addStudent}">Add & View Students</a>
                <a class="nav-link" th:href="@{/addCourse}">Add & View Courses</a>
                <a class="nav-link" th:href="@{/addProfessor}">Add & View Professors</a>
                <a class="nav-link" th:href="@{/assignProfessor}">Assign Professor to Course</a>
                <a class="nav-link" th:href="@{/assignStudent}">Assign Student to Course</a>
            </div>
        </div>
    </nav>

    <!-- table to display all the students -->
    <form class="container mt-5" th:action="@{/processAddStudent}" th:object="${student}">
        <h1>Add Student</h1>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" placeholder="Last Name" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <h1>View Students</h1>
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Courses</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student : ${students}">
                            <td th:text="${student.Id}"></td>
                            <td th:text="${student.firstName}"></td>
                            <td th:text="${student.lastName}"></td>
                            <td th:if="${student.courses != null}">
                                <ul>
                                    <li th:each="course : ${student.courses}" th:text="${course.courseName}">
                                    </li>
                                </ul>
                            </td>
                            <td><a class="btn btn-outline-success"
                                    th:href="@{/viewStudent/{id}(id=${student.id})}">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>