<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body {
            background-color: #476AF9;
        }

        .container {
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 20px;
        }
    </style>
    <title>Assign Professor</title>
</head>

<body>

    <!-- import navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Assign Professor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/addStudent}">Add & View Students</a>
                <a class="nav-link" th:href="@{/addCourse}">Add & View Courses</a>
                <a class="nav-link" th:href="@{/addProfessor}">Add & View Professors</a>
                <a class="nav-link active" th:href="@{/assignProfessor}">Assign Professor to Course</a>
                <a class="nav-link" th:href="@{/assignStudent}">Assign Student to Course</a>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <form th:action="@{/processAssignProfessor}">
            <h1>Assign Professor to Course<br>
                <small class="text-muted">Each course may only have one professor</small>
            </h1>
            <div class="form-group">
                <label for="professor">Professor</label>
                <select class="form-control" id="professor" name="professorId" required>
                    <option th:each="professor : ${professors}" th:value="${professor.id}" th:text="${professor.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="course">Available Courses</label>
                <select class="form-control" id="course" name="courseId" required>
                    <option th:each="course : ${courses}" th:if="${course.professor == null}" th:value="${course.id}"
                        th:text="${course.courseName}">
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Assign</button>
        </form>
    </div>

    <!-- Table displaying which professor teaches which course -->
    <div class="container mt-5">
        <table class="table table-striped">
            <h1>Courses and Professors</h1>
            <thead>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">View Course</th>
                    <th scope="col">Professor</th>
                    <th scope="col">View Professor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.courseName}"></td>
                    <td><a class="btn btn-outline-primary" th:href="@{/viewCourse/{id}(id=${course.id})}">View</a></td>
                    <td th:text="${course.professor} ? ${course.professor.name} : 'None'"></td>
                    <td><a class="btn btn-outline-success" th:if="${course.professor != null}" th:href="
                            @{/viewProfessor/{id}(id=${course.professor.id})}">View</a></td>
                </tr>
            </tbody>
        </table>

</body>

</html>